#DashboardPage
ASSESSMENT_NAV= //div[@id='navigation-sidebar-content-menu-container']/ul/li[1]
DASHBOARD_HEADER=//div[@class = 'dashboard-header']
ILLUMINATE_LOGO=//div[@id = 'navigation-sidebar-content']//div[@class = 'ie-icon logo-icon']
ASSESSMENTS_ICON=//div[@id = 'navigation-sidebar-content-menu-container']//span[text() = 'Assessments']
VIEW_ASSESSMENTS_LINK=//a[text() = 'View Assessments']
VIEW_ASSESSMENTS_HEADER=//div[@id = 'sub-header-component']//span[text() = 'View Assessments']
DROPDOWN= //a[@id='new-btn-dropdown']
LIST_OF_ASSESSMENT= //div[@id='assessment-create-assessment-tab']//h4
ASSESSMENTS_NAV=//div[@id='navigation-sidebar-content-menu-container']/ul/li[1]
ON_THE_FLY_ASSESSMENT= //h6[.='On the fly assessment']
CLICK_BACK= //*[starts-with(@id,'qcp-') and @class='question-count-prompt modal fade in']/div/div/div[2]/button[1]
CONTROL_PANEL=//ul[@id='navigation-header-toolbar']//li[@data-prefix='control-panel']//div[@class='ie-icon']
DASHBOARD_BODY=//div[@id='canvas']//div[@class='dashboard-box-container']/div[@class='clearfix']
SIGN_OUT=//h1[.='Control Panel']//following::div//a[contains(text(),'Sign Out')]
CREATE_ASSESSMENT_MODEL = //div[@id='create-assessment-modal']//button[@class='close']
FLEXIBLE_CREATE_MODEL_BODY= //*[@id='createModal___BV_modal_body_']/div/div//input
ITEMBANK_CREATE_MODEL_BODY= //div[@class='modal-body']/div[@id='nav-create-modal']
SKILLS_CREATE= //input[@id='title']
CLICK_CREATE_BUTTON= //a[@id='new-btn-dropdown']
CLICK_OTHER_TAB= //span[contains(text(),'Other')]
CLICK_OTHER_TAB_TWO= (//span[contains(text(),'Other')])[1]
OTHER_CREATE_ASSESSMENT_TAB= //div[@id='other-create-assessment-tab']//h4
SUMMARY_CREATE_MODEL= //input[@id='title']
DEMOGRAPHIC_CREATE_MODEL= //input[@id='title']
LEGACY_CREATE_MODEL= //span[contains(text(),'Legacy')]
LEGACY_TEXT= //span[contains(text(),'Legacy')]
LEGACY_TEXT_TWO= (//span[contains(text(),'Legacy')])[2]
LEGACY_CREATE_MODEL_TWO= (//span[contains(text(),'Legacy')])[2]
CHECK_LEGACY_TAB= //div[@id='legacy-create-assessment-tab']//h4
MANUAL_HYBRID_ASSESSMENT= //h6[@class='title' and .='Manual/Hybrid assessment']
CLICK_BACK_MANUAL_HYBRID= //button[@class='qcp-cancel btn btn-light']
SURVEY_CLICK= //input[@id='name']
MANUAL_HYBRID_CLOSE=//div[@id='create-assessment-modal']//button[@class='close']
#ID
NAVIGATION_SIDEBAR_CONTENT=navigation-sidebar-content
#ID
NAVIGATION_PANEL=navigation-navigation-panel
#ID
CLEAR_ALL_FILTER=clear-all-filter
GET_FIRST_LINK_ASSESSMENTS=//table[starts-with(@id,'assessment_list_data_table')]//tbody//tr[1]//td[2]//a
GET_LIST_ASSESSMENTS=//table[starts-with(@id,'assessment_list_data_table')]//td[2]//a
GET_ID_FIRST_ROW=//table[starts-with(@id,'assessment_list_data_table')]//tbody//tr[1]//td[4]
GET_OWNER_FIRST_ROW=//table[starts-with(@id,'assessment_list_data_table')]//tbody//tr[1]//td[5]
GET_FIRST_ROW=//table[starts-with(@id,'assessment_list_data_table')]//tbody//tr[1]//td
TITLE_OVERVIEW=//div[@id='survey_overview_title']//p
TOGGLE=//div[@class='row-fluid']//input[2]
ONLY_WITH_DATA=//label[@for='only_with_data']
DASHBOARD_TILE=//ul[@id = 'tile-holder']/li//div[@class = 'tile-title']
