#ResultsPage
CREATED_BY=//li[contains(.,'Created by')]
GRADE_LEVELS=//li[contains(.,'Grade Levels')]
GRADE_LEVELS_FOR_FLEXIBLE=//b[.='Grade Level:']/parent::div[1]
SCOPE=//li[contains(.,'Scope:')]
SCOPE_FOR_FLEXIBLE=//b[.='Scope:']/parent::div[1]
SUBJECT=//li[contains(.,'Subject Area:')]
SUBJECT_FOR_FLEXIBLE=//b[.='Subject Area:']/parent::div[1]
CREATED_BY_FOR_FLEXIBLE=//b[.='Created By:']/parent::div[1]
USER_FAVORITE=//div[@id='favorites_user_status' and @class='favorites-icon active']
DISTRICT_FAVORITE=//div[@id='favorites_district_status' and @class='favorites-icon active']

USER_FAVORITE_FLEXIBLE=(//div[starts-with(@class,'flex')])[1]/span[2]//*[name()='svg']
DISTRICT_FAVORITE_FLEXIBLE=(//div[starts-with(@class,'flex')])[1]/span[3]//*[name()='svg']
GEAR_ICON=//a[@class='shrink-btn-ao v-btn v-btn--flat v-btn--round v-btn--router theme--dark']/div/*[name()='svg']
CHANGE_ASSESSMENT_AUTHOR=//a[.='Change Assessment Author']
SELECT_NEW_AUTHOR=//span[@id='select2-chosen-1']
AGREE_CHANGE_AUTHOR=//input[@id='agree_change_author']
UNDERSTAND_NO_UNDO=//input[@id='understand_no_undo']
SELECT_NEW_AUTHOR_INPUT=//input[@id='change_author_btn']
ALERT_SUCCESS_ON_CHANGE_AUTHOR=//div[@class='alert alert-success']
