#[ENV]
ENVIRONMENT=prod
TICKET=
HEADLESS=false
ROSTER_DATE=06/30/2019
RESCORING=true
ASSESSMENT_PANEL_CHECK=true
AUTHX_ENABLED=false
AUTHX_ATD_PRODUCT=appswitch1481 Staging Site
EMAILID=
EMAILPASSWORD=
#[QA/PROD]
URL:https://demo.illuminateed.com/live
USERNAME=fquezada+demo@illuminateed.net
USERFULLNAME=Frank Quezada
PASSWORD=@Testing123
STUDENT_LAST_FIRST=Bohr, Niels
STUDENT_LAST_FIRST_WITH_INITIAL=Bohr, Niels
STUDENT_QR_ID=560127582
STUDENT_PORTAL_UN=560127582
STUDENT_PORTAL_PW=@Testing123
# BROSWER - CONFIGURATIONS
BROWSER=chrome
WAIT_TIME=20
CLOSE_BROWSER=true
MULTI_SITE=false
SCREENSHOTS=true
# BROWSER - DRIVER PATHS
CHROME=
FIREFOX=
EDGE=
SAFARI=
Collapse








